<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>The cake site</title>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <header>
            <h1>About my first cake site</h1>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </header>
        <main>
            <img src="cake.jpeg">
            <img src="cake2.png">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque quis orci quis erat condimentum efficitur.
                Donec ac nisi dui. Vestibulum aliquet leo leo, id pharetra nulla tincidunt ac. 
                Suspendisse tempus erat eget nibh hendrerit, eget bibendum nisi posuere.
                Maecenas dignissim non eros a luctus. Nulla facilisi. 
                Fusce eget tellus vel purus convallis pellentesque.
                Vivamus ut fermentum massa. Vivamus consectetur, nibh at dapibus pulvinar, 
                ligula ante porta sapien, eu consequat nulla mi eu nunc. Vestibulum 
                ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti.
            </p>
        </main>
        <footer>
            <p>
                &copy; 2020
            </p>
        </footer>
    </body>
</html>