<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <header>
        <h1>Contact us today and get a cake tomorrow</h1>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
    </header>
    <main>
    <form method="POST" action="/contact.html">
        Name: <input type="text" placeholder="name.." name="name" id="name"><br>
        E-mail: <input type="text" placeholder="e-mail.." name="mail" id="mail"><br>
        Message: <br><textarea placeholder="message.." rows="10" cols="30" name="message" id="message"></textarea><br>

        <input type="submit" value="send" id="send">
    </form>
    <div id="receipt"></div>
    </main>
    <footer>
        <p>
            &copy; 2020
        </p>
    </footer>
</body>
<script src="main.js"></script>
</html>